.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  font-size: 25px;
  .gameplay {
    height: 400px;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 15px;
    padding: 25px;
  }
}
