.logic__button {
  font-size: 25px;
  width: 330px;
  background: lawngreen;
}
.logic {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.logic__attempt {
  height: 55px;
}
.logic__close {
  height: 55px;
}
