.container {
  display: flex;
  flex-direction: column;
  width: 330px;
  .input {
    font-size: 25px;
    border-radius: 15px 15px 0px 0px;
  }

  .button {
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(60, 255, 0);
  }

  .dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Courier New", Courier, monospace;
    .dialog__text {
      margin: 10px;
      width: 300px;
    }
    .dialog__number {
      float: right;
      font-size: 28px;
      width: 38px;
      font-weight: bold;
      color: rgb(226, 123, 158);
    }
  }
  .dialog__close {
    height: 50px;
  }
}
